extends layout


block content
  .inner
    form.form(action='/register' method="POST")
      h2= title
      label(for='name') Name
      input(type='text' name='name' required)
      label(for='email') Email
      input(type='email' name='email' required)
      label(for='password') Password
      input(type='password' name='password')
      label(for='password-confirm') Confirm Password
      input(type='password' name='password-confirm')
      input.button(type='submit' value='Register ->')