extends layout

block content
  .inner
    form.form(method="POST")
      h2 Reset your Password
      label(for="password") Password
      input(type="password" name="password")
      label(for="password-confirm") Confirm Password 
      input(type="password" name="password-confirm")
      input.button(type="submit" value="Reset your password")